html, body{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
	background-size: cover;
  background-color: #1a1a1a;
}

@media only screen and (max-width: 640px) {
img{
  width: 150px;
  height: 75px;
}
}

.Text-position2{
  color: white;
  text-align: center;
  margin-top: 10%;
}

.Text-position{
  color: white;
  text-align: center;
}

.img-border{
border: 3px solid black;
}

nav{
  margin-top:10%;
  margin-bottom: 5%;
  text-align: center;
}

footer {
  color: white;
	position: relative;
	text-align: center;
	top: 28%;
}

img{
  margin-right: 5%;
}
